.RelevantItemSet-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
}

.RelevantItemSet-toggle::before {
    content: "\21A7";
    font-size: 1.5em;
}

.RelevantItemSet-toggle:hover {
    text-decoration: underline;
}

.RelevantItemSet-items {
    padding: 0.5em 0;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.RelevantItemSet-unselectedItems {
    padding-top: 0.5em;
    border-top: 1px solid rgba(17, 35, 68, 0.25);
}

.RelevantItemSet-unselectedItems > h3 {
    font-size: 0.75em;
}